body {
  background: rgb(24,10,68);
  background: linear-gradient(90deg, rgba(24,10,68,0.8981967787114846) 4%, rgba(59,77,142,0.9850315126050421) 40%, rgba(184,203,246,0.9402135854341737) 78%);

}

#AppContainer {
  margin: 5vh;
  background-color: rgb(254, 255, 254);
  height: 85vh;
  text-align: center;
}
